@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Highlight card gradient border animation */
@keyframes highlightBorderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.highlight-card {
  overflow: hidden;
}

.highlight-border {
  background: linear-gradient(
    -450deg,
    #7928ca,
    #ff0080,
    #1c64f2,
    #00d4ff,
    #7928ca
  );
  background-size: 300% 300%;
  animation: highlightBorderAnimation 8s ease infinite;
  z-index: 1;
}
